.container {
  /* background-color: #f5392e; */
  background-color: transparent;
  border-radius: 2% 20% / 9%;
  padding-bottom: 3%;
}

.titulo {
  text-align: center;
  margin: 10% 0;
  color: white;
  font-size: 4rem;
}
